<div id="<%= dom_id personality %>">
  <p>
    <strong>First name:</strong>
    <%= personality.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= personality.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= personality.email %>
  </p>

  <p>
    <strong>Contact number:</strong>
    <%= personality.contact_number %>
  </p>

</div>
