<div id="<%= dom_id personality %>">
  <p>
    <strong>First-name:</strong>
    <%= personality.first-name %>
  </p>

  <p>
    <strong>Last-name:</strong>
    <%= personality.last-name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= personality.email %>
  </p>

  <p>
    <strong>Contact-number:</strong>
    <%= personality.contact-number %>
  </p>

</div>
