<p style="color: green"><%= notice %></p>

<h1>Profile:</h1>

<div id="personalities">
  <% @personalities.each do |personality| %>
    <%= render personality %>
    <p>
      <%# <%= link_to "Edit", edit_classified_path(form) %>
      <%= link_to "Show User Information", personality %>
    </p>
  <% end %>
</div>
<%= link_to "Back to Main Menu", user_root_url %>
<% if @personality == 1 %>
<% else %>
  <%= link_to "New personality", new_personality_path %>
<% end %>
