<p style="color: green"><%= notice %></p>

<%= render @personality %>

<div>
  <%= link_to "Edit Profile", edit_personality_path(@personality) %>
  <%# <%= link_to "Back to personalities", personalities_path %>

  <%# <%= button_to "Destroy this personality", @personality, method: :delete %>
</div>
